@page
@model MyStore.Pages.Clients.IndexModel
@{
}

<br />
<h2> List of Clients </h2>
<a class='btn btn-primary btn' href='/Clients/Create'>New Clients</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Creatd At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ListClients)
        {
            <tr>
                <th>@item.id</th>
                <th>@item.name</th>
                <th>@item.email</th>
                <th>@item.phone</th>
                <th>@item.address</th>
                <th>@item.created_at</th>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clients/Edit?id=">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Clients/Delete?id=">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>